@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .5s;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
    font-weight: bold;
    font-size: 20px;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    box-shadow: #1CB698 10px 5px 10px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 3px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous', cursive;
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes img {
    color: #1CB698;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 15px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes img:hover {
    background-color: #1CB698;
}

/* SECCION SOBREMÃ */
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #1CB698;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* SECCION SKILLS */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    top: -16px;
    right: -20px;
}

.skills .skill .html { width: 85%; }
.skills .skill .css { width: 90%; }
.skills .skill .javascript { width: 80%; }
.skills .skill .php { width: 70%; }
.skills .skill .mysql { width: 65%; }
.skills .skill .react { width: 75%; }

/* SECCION CURRICULUM */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
}

.curriculum .col {
    width: 50%;
    padding: 0 20px;
}

.curriculum .col h3 {
    font-size: 28px;
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
}

.curriculum .item {
    margin-bottom: 20px;
    background-color: #252A2E;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: .3s;
}

.curriculum .item:hover {
    background-color: #1CB698;
}

.curriculum .item:hover h4, 
.curriculum .item:hover span {
    color: #131517;
}

.curriculum .item::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    position: absolute;
    top: 30px;
    right: -15px;
    transition: .3s;
}

.curriculum .item:hover::after {
    background-color: #252A2E;
}

.curriculum .item h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
}

.curriculum .item span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1CB698;
}

.curriculum .item p {
    font-size: 16px;
    line-height: 22px;
}

/* SECCION PORTAFOLIO */
.portafolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria-port {
    display: flex;
    flex-wrap: wrap;
}

.portafolio .imagen-port {
    width: 33.33333333%;
    padding: 7.5px;
}

.portafolio .imagen-port img {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: #1CB698 3px 3px 8px;
    transition: .3s;
}

.portafolio .imagen-port:hover img {
    filter: grayscale(100%);
}

.portafolio .hover-galeria {
    background-color: rgba(28,182,152,.8);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -290px;
    opacity: 0;
    transition: .3s;
}

.portafolio .hover-galeria p {
    font-size: 18px;
    font-weight: bold;
}

.portafolio .imagen-port:hover .hover-galeria {
    opacity: 1;
}

/* SECCION CONTACTO */
.contacto {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .fila .col {
    width: 50%;
    padding: 0 20px;
}

.contacto .fila .col p {
    margin: 15px 0;
}

.contacto .fila .col input, 
.contacto .fila .col textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #252A2E;
    border: none;
    outline: none;
    color: #fff;
}

.contacto .fila .col textarea {
    height: 180px;
    resize: none;
}

.contacto .fila .col button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto .fila .col button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contacto .fila .col button:hover .overlay {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #131517;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .redes a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #1CB698;
    border-color: #1CB698;
}

footer .arriba {
    background-color: #1CB698;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    color: #131517;
    font-size: 22px;
    border-radius: 50%;
}

/* MEDIA QUERIES */
@media screen and (max-width:800px) {
    .sobremi .fila .col, .skills .fila .col {
        width: 100%;
    }
    .curriculum .col {
        width: 100%;
        padding: 0;
    }
    .portafolio .imagen-port {
        width: 50%;
    }
    .contacto .fila .col {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:500px) {
    .contenedor-header header {
        padding: 15px;
    }
    .contenedor-header header .logo a {
        font-size: 24px;
    }
    .contenedor-header header nav ul {
        flex-direction: column;
        display: none;
    }
    .contenedor-header header nav.responsive ul {
        display: flex;
    }
    .contenedor-header header nav ul li {
        margin: 10px 0;
    }
    .nav-responsive {
        display: block;
    }
    .inicio .contenido-banner {
        padding: 15px;
        max-width: 300px;
    }
    .inicio .contenido-banner h1 {
        font-size: 36px;
    }
    .inicio .contenido-banner h2 {
        font-size: 14px;
    }
    .inicio .contenido-banner img {
        width: 70%;
    }
    .sobremi h2, .skills h2, .curriculum h2, .portafolio h2, .contacto h2 {
        font-size: 36px;
    }
    .sobremi .contenido-seccion p {
        font-size: 16px;
    }
    footer .redes a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }
    footer .arriba {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}
