/* Variables de Colores y Fuentes */
:root {
    --color-fondo: #121212; /* Fondo más oscuro */
    --color-secundario: #1a1a1a; /* Secundario más oscuro */
    --color-principal: #0d7377; /* Verde más oscuro y profesional */
    --color-hover: rgba(13, 115, 119, 0.8); /* Hover con el nuevo color principal */
    --color-texto: #e0e0e0; /* Texto claro, pero no completamente blanco */
    --color-texto-oscuro: #cccccc; /* Texto oscuro más tenue */
    --fuente-titulo: 'Roboto', sans-serif; /* Fuente más sobria para títulos */
    --fuente-texto: 'Arial', sans-serif; /* Fuente para el texto */
    --transicion-rapida: 0.3s ease;
    --transicion-lenta: 0.6s ease;
}

/* Estilos Generales */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-texto);
}

/* Estilos del Header */
.contenedor-header {
    background-color: var(--color-fondo);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transicion-rapida);
}

.contenedor-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo a {
    color: var(--color-principal);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--fuente-titulo);
    transition: color var(--transicion-rapida);
}

.logo a:hover {
    color: var(--color-hover);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 16px;
    transition: color var(--transicion-rapida);
}

nav ul li a:hover {
    color: var(--color-principal);
}

/* Botón de Menú Responsive */
.nav-responsive {
    display: none;
    cursor: pointer;
}

.nav-responsive img {
    width: 30px;
    height: 30px;
    transition: transform var(--transicion-rapida);
}

.nav-responsive:hover img {
    transform: rotate(90deg);
}

/* Diseño Responsive para el Header */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    nav.responsive {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: var(--color-secundario);
        width: 200px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav.responsive ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-responsive {
        display: block;
    }
}

/* Home Section */
.home-section {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 80px 20px;
    transition: background-color var(--transicion-rapida);
    position: relative;
    overflow: hidden;
}

/* Efecto Hover en Home Section */
.home-section:hover {
    background-color: #1e1e1e;
}

/* Contenido del Banner */
.contenido-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
}

/* Imagen del Banner */
.imagen-banner {
    flex: 1;
    text-align: center;
}

.imagen-banner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
    transition: transform var(--transicion-rapida), box-shadow var(--transicion-rapida);
}

.imagen-banner img:hover {
    transform: scale(1.05);
    
}

/* Texto del Banner */
.texto-banner {
    flex: 1;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 10px;
    color: var(--color-texto);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.texto-banner h1 {
    font-family: var(--fuente-titulo);
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--color-principal);
    text-align: left;
}

.texto-banner h2 {
    font-family: var(--fuente-titulo);
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-texto);
    text-align: left;
}

.texto-banner p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--color-texto-oscuro);
    text-align: left;
}

/* Botón CTA */
.cta-button {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-fondo);
    background-color: var(--color-principal);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color var(--transicion-rapida), transform var(--transicion-rapida);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cta-button:hover {
    background-color: var(--color-hover);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Responsividad */
@media (max-width: 992px) {
    .contenido-banner {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .texto-banner {
        padding: 30px;
    }

    .texto-banner h1 {
        font-size: 36px;
        text-align: center;
    }

    .texto-banner h2 {
        font-size: 20px;
        text-align: center;
    }

    .texto-banner p {
        font-size: 14px;
        text-align: center;
    }

    .cta-button {
        padding: 10px 25px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .texto-banner {
        padding: 20px;
    }

    .texto-banner h1 {
        font-size: 28px;
    }

    .texto-banner h2 {
        font-size: 18px;
    }

    .texto-banner p {
        font-size: 12px;
    }

    .cta-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
}




/* Estilos para el Portafolio */
/* Estilos del Portafolio */
.portafolio {
    padding: 50px 20px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    text-align: center;
}

.portafolio h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--color-principal);
    font-family: var(--fuente-titulo);
}

/* Galería de Proyectos */
.galeria {
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
}

.proyecto {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.proyecto img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.proyecto:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: var(--color-texto);
    padding: 20px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    font-family: var(--fuente-titulo);
}

.overlay p {
    margin: 0 0 10px;
    font-size: 0.9rem;
}

/* Responsividad para el Portafolio */
@media (max-width: 1200px) {
    .galeria {
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    }
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: minmax(250px, 1fr);
    }

    .portafolio h2 {
        font-size: 2rem;
    }

    .overlay h3 {
        font-size: 1rem;
    }

    .overlay p {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .portafolio {
        padding: 30px 10px;
    }

    .portafolio h2 {
        font-size: 1.5rem;
    }

    .overlay h3 {
        font-size: 0.9rem;
    }

    .overlay p {
        font-size: 0.7rem;
    }
}



/* Estilos Responsivos para Banner */
@media (max-width: 768px) {
    .contenido-banner {
        flex-direction: column;
        text-align: center;
    }

    .imagen-banner img {
        width: 100%;
        object-fit: cover;
        filter: blur(1px);
        opacity: 0.6;
    }

    .texto-banner {
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
    }

    .texto-banner h1 {
        font-size: 36px;
    }

    .texto-banner h2 {
        font-size: 26px;
    }

    .texto-banner p {
        font-size: 16px;
        padding-top: 20px;
    }

    .cta-button {
        margin-top: 15px;
        padding: 8px 18px;
        font-size: 14px;
    }
}

/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform var(--transicion-rapida);
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 58px;
    height: 58px;
}

/* Sección Contacto */

.contacto {
    padding: 50px 20px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    text-align: center;
}

.contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--color-principal);
    font-family: var(--fuente-titulo);
}

.fila {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.contacto-content h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--color-principal);
    font-family: var(--fuente-titulo);
}

.contacto-content p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-texto-secundario);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-principal);
}
form input,
form textarea {
    background-color: var(--color-secundario); /* Fondo secundario para mejor contraste */
    color: var(--color-texto);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: var(--color-principal);
}

.enviar-mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--color-principal);
    color: var(--color-texto-boton);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.enviar-mensaje i {
    margin-left: 10px;
}

.enviar-mensaje:hover {
    background-color: var(--color-principal-hover);
}

.enviar-mensaje .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.enviar-mensaje:hover .overlay {
    opacity: 1;
}
/* Estilos para la Sección de Servicios */
.servicios {
    padding: 60px 20px;
    background-color: var(--color-fondo-secundario);
}

.contenido-seccion {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contenido-seccion h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--color-principal);
}

.fila {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio {
    background-color: var(--color-fondo);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform var(--transicion-rapida), box-shadow var(--transicion-rapida);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicio h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-texto);
}

.servicio p {
    font-size: 16px;
    color: var(--color-texto-secundario);
    line-height: 1.6;
}

.servicio:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .servicio {
        padding: 20px;
    }
    .contenido-seccion h2 {
        font-size: 28px;
    }
    .servicio h3 {
        font-size: 20px;
    }
    .servicio p {
        font-size: 14px;
    }
}

/* Estilos del Footer */
.footer {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 30px 20px;
    text-align: center;
}

.footer-seccion {
    margin-bottom: 20px;
}

.footer-seccion h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.redes-sociales .redes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.redes-sociales .redes a {
    color: var(--color-texto);
    font-size: 24px;
    transition: color 0.3s ease;
}

.redes-sociales .redes a:hover {
    color: var(--color-principal);
}

.footer-derechos {
    margin-top: 20px;
    font-size: 14px;
}

